html {
    scroll-behavior: smooth;
}
   
*{
    border: 0px dotted #ff0000;
    margin: 0;
    padding: 0;
    transition-duration: .3s;
    
    text-decoration: none;
}

/* Start main*/

.main{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: #FAEBD7;
}

.header{
    width: 50%;
    height: calc(10vh - .25vh);
    margin: auto;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 10vh;
    color: #CD853F;
}

.accordion{
    width: 50%;
    height: 90vh;
    margin: 0 auto;
    color: #778899;
}

.accordion:hover{
    color: #696969;
}

.accordion:hover .open-close{
    color: #696969;
}

.bayan_block{
    width: 100%;
    height: auto;
}

.accordion label{
    display: inline-block;
    width: 100%;
    line-height: 5.5vh;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .2vh solid #778899;
}

.accordion label:hover{
    border-top: .2vh solid #696969;
}

.accordion article{
    text-align: center;
    width: 0vw;
    height: 0vw;
    overflow: hidden;
    cursor: pointer;
}

.img{
    width: 28vh;
    height: 28vh;
    margin-bottom: 1vh;
}

.accordion input{
    display: none;
    overflow: hidden;
}

.accordion input:checked ~ article{
    width: auto;
    height: 30vh;
}

.accordion input:hover ~ article{
    width: auto;
    height: 30vh;
    transition: .5s;
}

.acord__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-top: .25vh solid #FAEBD7;
}

.accordion legend{
    margin-right: 1vw;
    margin-left: auto;
    width: auto;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 0rem;
    color: #FAEBD7;
}

.accordion input:checked ~ label legend{
    transform: rotate(-45deg);
}

.accord_text{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 5.5vh;
}

@media (max-width: 1365px) {
    .header{
        width: 80%;
        font-size: 2.5rem;
    }

    .accordion{
        width: 80%;
        color: #696969;
    }

    .accordion:hover{
        color: #696969;
    }

    .accordion input{
        display: none;
        overflow: hidden;
    }
    
    .accordion input:hover:disabled ~ article{
        width: 0vw;
        height: 0vw;
    }

    .accordion input:checked ~ article{
        height: 40vh;
    }

    .accordion legend{
        font-size: 1.75rem;
        color: #696969;
    }

    .accord_text{
        font-size: 1.25rem;
        line-height: 9vh;
    }

    .accordion label{
        cursor: default;
        line-height: 9vh;
    }

    .accordion article{
        cursor: default;
    }

    .img{
        width: 35vh;
        height: 35vh;
        margin-bottom: 5vh;
    }

    .accord_container{
        cursor: default;
    }
}

@media (max-width: 819px) {
    .header{
        width: 90%;
        font-size: 1.5rem;
        overflow: hidden;
    }
    
    .accordion{
        width: 90%;
        color: #696969;
    }

    .accordion:hover{
        color: #696969;
    }

    .accordion legend{
        font-size: 1.25rem;
        color: #696969;
    }

    .accord_text{
        font-size: 1rem;
    }

    .accordion label{
        cursor: default;
    }

    .accordion article{
        cursor: default;
    }
    
    .img{
        object-fit: cover;
        max-width: 35vh;
        max-height: 35vh;
        width: 90vw;
        height: 90vw;
    }

    .accord_container{
        cursor: default;
    }
}