html {
    scroll-behavior: smooth;
}
   
*{
    border: 0px dotted #ff0000;
    margin: 0;
    padding: 0;
    transition-duration: .3s;
    
    text-decoration: none;
}

/* Start main*/

.main{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: #FAEBD7;
}

.header{
    width: 50%;
    height: calc(10vh - .25vh);
    margin: auto;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 10vh;
    color: #CD853F;
}

.accordion{
    width: 50%;
    height: 90vh;
    margin: 0 auto;
    color: #778899;
}

.accordion:hover{
    color: #696969;
}

.bayan_block{
    width: 100%;
    height: auto;
}

.accordion label{
    display: inline-block;
    width: 100%;
    line-height: 9vh;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .25vh solid #FAEBD7;
}

.accordion label:hover{
}

.accordion article{
    text-align: center;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.img{
    width: 35vh;
    height: 35vh;
    margin-bottom: 5vh;
}

.accordion input{
    display: none;
    overflow: hidden;
}

.accordion input:checked ~ article{
    width: auto;
    height: 40vh;
}

.acord__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-top: .25vh solid #FAEBD7;
}

.accordion legend{
    margin-right: 1vw;
    margin-left: auto;
    width: auto;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 0rem;
}

.accordion input:checked ~ label legend{
    transform: rotate(-45deg);
}

.accord_text{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 9vh;
}